<!DOCTYPE html>
{% extends "blog/base.html" %}
{% load static %}


{% block main-content %}



<div class="site-section py-0">
  <div class="owl-carousel hero-slide owl-style">

    {% for editor in editors %}

    <div class="site-section">
      <div class="container">
        <div class="half-post-entry d-block d-lg-flex bg-light">
          <div class="img-bg" style="background-image: url('{{editor.imageUrl}}')"></div>
          <div class="contents">
            <span class="caption">Editor's Pick</span>
            <h2><a href="blog-single.html">{{editor.title}}</a></h2>
            <p class="mb-3">{{editor.description}}</p>

            <div class="post-meta">
              <span class="d-block"><a href="#">{{editor.authorPrest}}</a> in <a href="#">{{editor.tag}}</a></span>
              <span class="date-read">{{editor.date_Created}}<span class="mx-1">&bullet;</span> Quick Read <span
                  class="icon-star2"></span></span>
            </div>

          </div>
        </div>
      </div>
    </div>

    {% endfor %}



  </div>
</div>


<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>Trending In the World</h2>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- {% for trend in trendsheadi %}
          <div class="col-md-6">
            <div class="post-entry-1">
              <a href="post-single.html"><img src="{{trend.imageUrl}}" alt="Image" class="img-fluid"></a>
              <h2><a href="blog-single.html">{{trend.title}}</a></h2>
              <p>{{trend.description}}</p>
              <div class="post-meta">
                <span class="d-block"><a href="#">{{trend.authorPrest}}</a> in <a href="#">{{trend.tag}}</a></span>
                <span class="date-read">{{trend.date_Created}} <span class="mx-1">&bullet;</span> Quick Read <span
                    class="icon-star2"></span></span>
              </div>
            </div>
          </div>
          {% endfor %} -->
          
          {% for trend in trends %}
          <div class="col-md-6">
            <div class="post-entry-2 d-flex bg-light">
              <div class="thumbnail" style="background-image: url('{{trend.imageUrl}}')"></div>
              <div class="contents">
                <h2><a href="{% url 'personalblog:trending-post' trend.id %}">{{trend.title}}</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">{{trend.authorPrest}}</a> in <a href="#">{{trend.tag}}</a></span>
                  <span class="date-read">{{trend.date_Created}} <span class="mx-1">&bullet;</span> Quick Read <span
                      class="icon-star2"></span></span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
      <div class="col-lg-4">
        <div class="section-title">
          <h2>Top Posts</h2>
        </div>

        <div class="trend-entry d-flex">
          <div class="number align-self-start">01</div>
          <div class="trend-contents">
            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
            <div class="post-meta">
              <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
              <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span
                  class="icon-star2"></span></span>
            </div>
          </div>
        </div>

        <div class="trend-entry d-flex">
          <div class="number align-self-start">02</div>
          <div class="trend-contents">
            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
            <div class="post-meta">
              <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
              <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span
                  class="icon-star2"></span></span>
            </div>
          </div>
        </div>

        <div class="trend-entry d-flex">
          <div class="number align-self-start">03</div>
          <div class="trend-contents">
            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
            <div class="post-meta">
              <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
              <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span
                  class="icon-star2"></span></span>
            </div>
          </div>
        </div>

        <div class="trend-entry d-flex">
          <div class="number align-self-start">04</div>
          <div class="trend-contents">
            <h2><a href="blog-single.html">News Needs to Meet Its Audiences Where They Are</a></h2>
            <div class="post-meta">
              <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
              <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span
                  class="icon-star2"></span></span>
            </div>
          </div>
        </div>

        <p>
          <a href="#" class="more">See All Trends <span class="icon-keyboard_arrow_right"></span></a>
        </p>

      </div>
    </div>
  </div>
</div>
<!-- END section -->

<div class="py-0">
  <div class="container">
    {% for trend in trendshead %}
    <div class="half-post-entry d-block d-lg-flex bg-light">
      <div class="img-bg" style="background-image: url('{{trend.imageUrl}}')"></div>
      <div class="contents">
        <span class="caption">Week's Top Story</span>
        <h2><a href="{% url 'personalblog:trending-post' trend.id %}">{{trend.title}}</a></h2>
        <p class="mb-3">{{trend.description}}</p>

        <div class="post-meta">
          <span class="d-block"><a href="#">{{trend.authorPrest}}</a> in <a href="#">{{trend.tag}}</a></span>
          <span class="date-read">{{trend.date_Created}}<span class="mx-1">&bullet;</span> Quick Read <span
              class="icon-star2"></span></span>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h2>Programming</h2>
        </div>

        {% for program in Programm %}
        <div class="post-entry-2 d-flex">
          <div class="thumbnail" style="background-image: url('{{program.imageUrl}}')"></div>
          <div class="contents">
            <h2><a href="{% url 'personalblog:post-Details' program.id %}">{{program.title}}</a></h2>
            <p class="mb-3">{{program.description}}</p>
            <div class="post-meta">
              <span class="d-block"><a href="#">{{program.authorPrest}}</a> in <a href="#">{{program.tag}}</a></span>
              <span class="date-read">{{program.date_Created}}<span class="mx-1">&bullet;</span> <span
                  class="icon-star2"></span></span>
            </div>
          </div>
        </div>
        
        {% endfor %}
      </div>
      <div class="col-lg-6">
        <div class="section-title">
          <h2>Innovation</h2>
        </div>
        {% for invo in innovation %}
        <div class="post-entry-2 d-flex">
          <div class="thumbnail" style="background-image: url('{{invo.imageUrl}}')"></div>
          <div class="contents">
            <h2><a href="{% url 'personalblog:post-Details' invo.id %}">{{invo.title}}</a></h2>
            <p class="mb-3">{{invo.description}}</p>
            <div class="post-meta">
              <span class="d-block"><a href="#">{{invo.authorPrest}}</a> in <a href="#">{{invo.tag}}</a></span>
              <span class="date-read">{{invo.date_Created}} <span class="mx-1">&bullet;</span> <span
                  class="icon-star2"></span></span>
            </div>
          </div>
        </div>
        {% endfor %}
       
      
      </div>
    </div>
  </div>
</div>


<div class="site-section subscribe bg-light">
  <div class="container">
    <form action="" class="row align-items-center" method="POST">
      {% csrf_token %}
      <div class="col-md-5 mr-auto">
        <h2>Newsletter Subcribe</h2>
        <p>Want to always keep up to date Signup to the Newsletter to be the first to know my latest Posts!</p>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="d-flex">
          <input type="email" name="NewsletterEmail" class="form-control" placeholder="Enter your email">
          <button type="submit" class="btn btn-secondary"><span class="icon-paper-plane"></span></button>
        </div>
      </div>
    </form>
  </div>
</div>





{% endblock main-content %}


<!-- .site-wrap -->